# The public URL to use for absolute URLs, which are required when
# the Next.js app is run within Sitecore editors.
# This should match the `serverSideRenderingEngineApplicationUrl`
# in your Sitecore configuration (see \sitecore\config\vad.config).
# Be sure to update these values accordingly as your public endpoint changes.
# See https://jss.sitecore.com/docs/fundamentals/services/view-engine
# If undefined, http://localhost:3000 is used by default.
# In production non-editing environments it is desirable to use relative URLs, so this may be set to empty string.
#PUBLIC_URL=

# ==============================================

# Your Sitecore site name.
# Uses your `package.json` config `appName` if empty.
# When using the Next.js Multisite add-on, the value of the variable represents the default/configured site.
SITECORE_SITE_NAME=

# How many times should GraphQL Layout, Dictionary and ErrorPages services retry a fetch when endpoint rate limit is reached
# You can disable it for all the services by configuring it to 0.
GRAPH_QL_SERVICE_RETRIES=

# To secure the Sitecore editor endpoint exposed by your Next.js app
# (`/api/editing/render` by default), a secret token is used. This (client-side)
# value must match your server-side value (see \sitecore\config\vad.config).
# We recommend an alphanumeric value of at least 16 characters.
JSS_EDITING_SECRET=

# Your Sitecore API hostname is needed to build the app. Typically, the API host is
# defined in `scjssconfig.json` (as `sitecore.layoutServiceHost`). This file may
# not exist when building locally (if you've never run `jss setup`), or when building
# in a higher environment (since `scjssconfig.json` is ignored from source control).
# In this case, use this environment variable to provide the value at build time.
SITECORE_API_HOST = 

# ====== Sitecore Preview / Delivery Edge ======

# Your Sitecore API key is needed to build the app. Typically, the API key is
# defined in `scjssconfig.json` (as `sitecore.apiKey`). This file may not exist
# when building locally (if you've never run `jss setup`), or when building in a
# higher environment (since `scjssconfig.json` is ignored from source control).
# In this case, use this environment variable to provide the value at build time.
SITECORE_API_KEY = 

# Your GraphQL Edge endpoint. This is required for Sitecore Experience Edge.
# For Sitecore XM, this is typically optional. By default, the endpoint is calculated using
# the resolved Sitecore API hostname + the `graphQLEndpointPath` defined in your `package.json`.
GRAPH_QL_ENDPOINT=

# The way in which layout and dictionary data is fetched from Sitecore
FETCH_WITH = 

# Layout service configuration name: {SITECORE_API_HOST}/sitecore/api/layout/render/{LAYOUT_SERVICE_CONFIGURATION_NAME}?item=%2F&sc_lang={DEFAULT_LANGUAGE}
LAYOUT_SERVICE_CONFIGURATION_NAME=

# Sitecore JSS npm packages utilize the debug module for debug logging.
# https://www.npmjs.com/package/debug
# Set the DEBUG environment variable to 'sitecore-jss:*' to see all logs:
DEBUG=
PPINSIGHTS_INSTRUMENTATIONKEY = 
DEFAULT_LANGUAGE = 
LIVE_WEATHER_API = 
EVENTS_GRID_LISTING_API = 
EVENT_API = 
AUTO_COMPLETE =
AUTO_COMPLETE_WEGO = 
AUTO_COMPLETE_TRAVEL_PAYOUT = 
SOLR_FILTERS_DATA = 
ITINERARY_DATA_API = 
SOLR_SEARCH_API = 
SOLR_FAVORITE_SEARCH_API = 
SMART_LIST_API = 
MULTI_CARD_LIST_API = 
RFP_API = 
RFP_API_VIRUS_CHECK = 
COMPETITION_FORM_API = 
FORM_SUBMISSION_API = 
NEWSLETTER_SUBSCRIPTION_API =
SIMILAR_SEARCH_API = 
TRIP_ADVISOR_API = 
GOOGLE_PLACES_API = 
TINT_API = 
ADVANCE_SEARCH_API = 
WIDGET_PAGE_URL = 
API_HOST =
FLIGHT_SEARCH = 
HOTEL_SEARCH = 
PRELOAD_LINK_MEGAMENU_IMAGE = 
NO_RETINA_MEGANAV = 
ENABLE_CDN_PUSH = 
APP_ORIGIN = 
PRELOAD_3PARTY_LINKS = ''
ENABLE_APP_INSIGHTS_SERVER = 
ENABLE_APP_INSIGHTS_CLIENT = 
ADD_TO_CALENDER_API = 
MAIL_CHIMP_FORM_GET_QUESTIONS_API=
MAIL_CHIMP_FORM_SUBMIT_API=
GOOGLE_ADD_TO_CALENDER_URL = 
GEO_JSON_API = 
MARINE_GEO_JSON_API=
MARINE_GET_OPERATORS_API=
MAP_ACCESS_TOKEN =
MAP_BOX_STYLE = 
MARINE_MAP_ACCESS_TOKEN=
MARINE_MAP_BOX_STYLE=
ACTIVITIES_MAP_BOX_STYLE=
MAP_BOX_STYLE=
NEWSLETTER_SUBSCRIPTION_API_V2=
FETCH_COUNTRIES_API=
FETCH_USER_COUNTRY=
EXPLORE_MAP_UPD_STYLE=
SUBSCRIBE_FORM_API_V2=
MARINE_WEATHER_API=
SSO_TENANT_NAME=
SSO_CLIENT_ID =
SSO_REDIRECT_URI =
MAP_BOX_LISTING_STYLE =